@model int

<div class="container row pt-4">
    <div class="col-12 text-center" style="color:aquamarine ">
        <h1 class="text-primary text-center" >Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
    </div>
</div>
