@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Thank you for your order!</h1>
        Your Order Number is : @Model <br /><br />
        <img src="~/images/tick_confirmation.png" width="300px" />
    </div>
    <div class="col-12 text-center" style="color:mediumaquamarine">
        <br />
        Order Placed Successfully! <br />
        <br /> <br />
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>

    </div>
</div> 