@model int

<i class="bi bi-cart"></i>
<span class="position-absolute top-10 start-10 translate-middle badge rounded-pill bg-danger">
    @Model
    <span class="visually-hidden">shopping carts</span>
</span>